version: '2.4'

services:

 identity:
  image: "${IMAGE_PREFIX}identity:${TAG}"
  command: -sitecoreHostname ${SITECORE_HOST_NAME} -identityHostname ${IDENTITY_HOST_NAME}
  networks:
    - exampleNetwork   
  volumes:
    - .\logs\identity:C:\inetpub\wwwroot\identity\app_data\logs
  depends_on:
    - mssql

 mssql:
  image: "${IMAGE_PREFIX}mssql:${TAG}"
  networks:
    - exampleNetwork 
  environment:
    ACCEPT_EULA: "Y"
    sa_password: ${SQL_SA_PASSWORD}
  volumes:
    - .\data\mssql:C:\Data

 sitecore:
  image: "${IMAGE_PREFIX}sitecore:${TAG}"
  networks:
    - exampleNetwork 
  volumes:
    - .\logs\sitecore:c:\inetpub\wwwroot\${SITECORE_SITE_NAME}\App_Data\logs
    - .\wwwroot\sitecore:C:\Workspace
    - .\license:C:\license    
  depends_on:
    - xconnect
    - mssql
    - solr
    - identity

 solr:
  image: "${IMAGE_PREFIX}solr:${TAG}"
  networks:
    - exampleNetwork 
  volumes:
    - .\data\solr:C:\Data

 xconnect:
  image: "${IMAGE_PREFIX}xconnect:${TAG}"
  networks:
    - exampleNetwork 
  volumes:
    - .\logs\xconnect:C:\inetpub\wwwroot\xconnect\App_data\Logs
    - .\license:C:\license
  depends_on:
    - mssql
    - solr

networks:
  exampleNetwork:
    external:
      name: nat