trigger:
- master

pool:
  vmImage: 'Windows-2019'

steps:
- powershell: |
    $password = ConvertTo-SecureString -String $env:storageAccountKey -AsPlainText -Force;
    $credential = New-Object System.Management.Automation.PSCredential -ArgumentList "AZURE\$($env:storageAccountName)", $password;
    New-PSDrive -Name Z -PSProvider FileSystem -Root "\\sitecoredockertest.file.core.windows.net\test" -Credential $credential -Persist;
    Copy-Item -Path Z:\* -Destination Files/
    ls ./Files
  env:
    storageAccountKey: $(storageAccountKey)
    storageAccountName: $(storageAccountName)
  displayName: 'Copy Files'

- task: PowerShell@2
  displayName: Run NUKE Build
  inputs:
    targetType: 'filePath'
    filePath: build.ps1
    arguments: > 
        Xp 
