trigger:
  branches:
    include:
    - master
  tags:
    include:
    - '*'

# Split the build in multiple jobs as there is not enough
# diskspace on a single agent to build all.
jobs:
- template: azure-build-image.yml
  parameters:
    name: BaseXpXc
    buildTargets: Xp
    pushTargets: PushBase PushXp

# - template: azure-build-image.yml
#   parameters:
#     name: BaseXpXc
#     buildTargets: Xc
#     pushTargets: PushBase PushXp PushXc

- template: azure-build-image.yml
  parameters:
    name: XpSxa
    buildTargets: XpSxa
    pushTargets: PushXpSxa

# - template: azure-build-image.yml
#   parameters:
#     name: XcSxa
#     buildTargets: XcSxa
#     pushTargets: PushXcSxa

- template: azure-build-image.yml
  parameters:
    name: XpJss
    buildTargets: XpJss
    pushTargets: PushXpJss

# - template: azure-build-image.yml
#   parameters:
#     name: XcJss
#     buildTargets: XcJss
#     pushTargets: PushXcJss
