version: '2.4'

services:
 
 identity:
  image: "${IMAGE_PREFIX}identity:${TAG}"
  volumes:
    - .\license:C:\license
  networks:
    - exampleNetwork   
  depends_on:
    - mssql

 mssql:
  image: "${IMAGE_PREFIX}mssql-intermediate:${TAG}"
  networks:
    - exampleNetwork 
  environment:
    ACCEPT_EULA: "Y"
    sa_password: ${SQL_SA_PASSWORD}

 sitecore:
  image: "${IMAGE_PREFIX}sitecore-intermediate:${TAG}"
  networks:
    - exampleNetwork 
  volumes:
    - .\license:C:\license  
  depends_on:
    - xconnect
    - mssql
    - solr
    - identity

 solr:
  image: "${IMAGE_PREFIX}solr:${TAG}"
  networks:
    - exampleNetwork 

 xconnect:
  image: "${IMAGE_PREFIX}xconnect:${TAG}"
  networks:
    - exampleNetwork 
  volumes:
    - .\license:C:\license  
  depends_on:
    - mssql
    - solr

 commerce:
  image: "${IMAGE_PREFIX}commerce:${TAG}"
  networks:
    exampleNetwork:
      aliases:
        - commerce.local
  depends_on:
    - xconnect
    - mssql
    - solr
    - sitecore
    - identity

networks:
  exampleNetwork:
    external:
      name: nat