version: '2.4'

services:
 mssql:
  image: "${IMAGE_PREFIX}mssql-intermediate:${TAG}"
  isolation: process
  networks:
    - exampleNetwork 
  environment:
    ACCEPT_EULA: "Y"
    sa_password: ${SQL_SA_PASSWORD}

 sitecore:
  image: "${IMAGE_PREFIX}sitecore-intermediate:${TAG}"
  isolation: process
  networks:
    exampleNetwork:
      aliases:
        - sitecore.local
  volumes:
    - .\license:C:\license  
  depends_on:
    - xconnect
    - mssql
    - solr

 solr:
  image: "${IMAGE_PREFIX}solr:${TAG}"
  isolation: process
  networks:
    exampleNetwork:
      aliases:
        - solr.local

 xconnect:
  image: "${IMAGE_PREFIX}xconnect:${TAG}"
  isolation: process
  networks:
    - exampleNetwork 
  volumes:
    - .\license:C:\license  
  depends_on:
    - mssql
    - solr

 commerce:
  image: "${IMAGE_PREFIX}commerce:${TAG}"
  isolation: process
  networks:
    exampleNetwork:
      aliases:
        - commerce.local
  depends_on:
    - xconnect
    - mssql
    - solr
    - sitecore

networks:
  exampleNetwork:
    external:
      name: nat