version: '2.4'

services:
 identity:
  image: "${IMAGE_PREFIX}identity:${TAG}"
  isolation: process
  depends_on:
    - mssql
  mem_limit: 2048m
  cpu_count: 4

 mssql:
  image: "${IMAGE_PREFIX}mssql:${TAG}"
  isolation: process
  networks:
    - exampleNetwork 
  environment:
    ACCEPT_EULA: "Y"
    sa_password: ${SQL_SA_PASSWORD}

 sitecore:
  image: "${IMAGE_PREFIX}sitecore:${TAG}"
  isolation: process
  networks:
    - exampleNetwork 
  volumes:
    - .\license:C:\license
  depends_on:
    - xconnect
    - mssql
    - solr
    - identity

 solr:
  image: "${IMAGE_PREFIX}solr:${TAG}"
  isolation: process
  networks:
    - exampleNetwork 

 xconnect:
  image: "${IMAGE_PREFIX}xconnect:${TAG}"
  isolation: process
  networks:
    - exampleNetwork 
  volumes:
    - .\license:C:\license  
  depends_on:
    - mssql
    - solr

networks:
  exampleNetwork:
    external:
      name: nat