version: '2.4'

services:
 commerce:
  image: "${IMAGE_PREFIX}commerce:${TAG}"
  isolation: process
  volumes:
    - .\logs\commerce\CommerceAuthoring_Sc9:C:\inetpub\wwwroot\CommerceAuthoring_Sc9\wwwroot\logs
    - .\logs\commerce\CommerceMinions_Sc9:C:\inetpub\wwwroot\CommerceMinions_Sc9\wwwroot\logs
    - .\logs\commerce\CommerceOps_Sc9:C:\inetpub\wwwroot\CommerceOps_Sc9\wwwroot\logs
    - .\logs\commerce\CommerceShops_Sc9:C:\inetpub\wwwroot\CommerceShops_Sc9\wwwroot\logs
    - .\logs\commerce\SitecoreIdentityServer:C:\inetpub\wwwroot\SitecoreIdentityServer\wwwroot\logs
    - .\wwwroot\commerce:C:\Workspace
  depends_on:
    - xconnect
    - mssql
    - solr
    - sitecore
  mem_limit: 4096m
  cpu_count: 6

 mssql:
  image: "${IMAGE_PREFIX}mssql:${TAG}"
  isolation: process
  environment:
    ACCEPT_EULA: "Y"
    sa_password: ${SQL_SA_PASSWORD}
  volumes:
    - .\data\mssql:C:\Data
  mem_limit: 4096m
  cpu_count: 4
  
 sitecore:
  image: "${IMAGE_PREFIX}sitecore:${TAG}"
  isolation: process
  volumes:
    - .\logs\sitecore:c:\inetpub\wwwroot\${SITECORE_SITE_NAME}\App_Data\logs
    - .\wwwroot\sitecore:C:\Workspace
    - .\license:C:\license    
  depends_on:
    - xconnect
    - mssql
    - solr
  mem_limit: 8192m
  cpu_count: 6
  
 solr:
  image: "${IMAGE_PREFIX}solr:${TAG}"
  isolation: process
  volumes:
    - .\data\solr:C:\Data
  mem_limit: 4096m
  cpu_count: 4
  
 xconnect:
  image: "${IMAGE_PREFIX}xconnect:${TAG}"
  isolation: process
  volumes:
    - .\logs\xconnect:C:\inetpub\wwwroot\xconnect\App_data\Logs
    - .\license:C:\license    
  depends_on:
    - mssql
    - solr
  mem_limit: 2048m
  cpu_count: 4
